<%= error_messages_for 'message' %>
<table>
   <tr class = "alignRight">
      <td>Title</td>
      <td><%= text_field 'message', 'title' %></td>
   </tr>
   <tr class = "alignRight">
      <td>Author</td>
      <td><%= text_field 'message', 'author' %></td>
   </tr>
   <tr class = "alignRight">
      <td>Email</td>
      <td><%= text_field 'message', 'email' %></td>
   </tr>
   <tr><td colspan = "2">Message</td></tr>
   <tr><td colspan = "2">
      <%= text_area 'message', 'message', :cols => "30", :rows => "4"%>
   </td></tr>
</table>

