<div class="depot-form">
<%= error_messages_for :seller %>
<fieldset>Masukan data anda
<legend>Enter User Details</legend>
<% form_for(@seller) do |f| %>
  <p>
    <label for="seller_name">Nama:</label>
    <%= f.text_field :name, :size => 40 %>
  </p>
   <p>
    <label for="seller_email">Email:</label>
    <%= f.text_field :email, :size => 35 %>
  </p>
   <p>
    <label for="seller_alamat">Alamat lengkap:</label>
    <%= f.text_field :alamat, :size => 40 %>
  </p>
  <p>
    <label for="seller_password">Password:</label>
    <%= f.password_field :password, :size => 40 %>
  </p>
  <p>
    <label for="seller_password_confirmation">Konfirmasi:</label>
    <%= f.password_field :password_confirmation, :size => 40 %>
  </p>
  <p>
    <%= f.submit "proses" , :class => "submit" %>
  </p>
<% end %>
</fieldset>
</div>

