<div class="depot-form">
<%= error_messages_for :user %>
<fieldset>Masukan data anda
<legend>Registrasi</legend>
<% form_for(@user) do |f| %>
  <p>
    <label for="user_username">Nama:</label>
    <%= f.text_field :username, :size => 40 %>
  </p>
   <p>
    <label for="user_email">Email:</label>
    <%= f.text_field :email, :size => 35 %>
  </p>
  <p>
    <label for="user_password">Password:</label>
    <%= f.password_field :password, :size => 40 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</fieldset>
</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

