<div id="product-list">
  <h1>Daftar Pengusaha Meubel</h1>

  <table cellpadding="5" cellspacing="0">
  <% for user in @users %>
    <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">

     <td>
         <span class ="list-title"><%=h user.name %></span>
     </td>

    <td width="10%">
         <td><span class="list-user"><%=h user.email %></span></td>
          <td><span class="list-user"><%=h user.alamat %></span></td>
    </td>

    <td class="list-actions">

    <%= link_to 'Show', user %><br/>
    <%= link_to 'Edit', edit_user_path(user) %><br/>
    <%= link_to 'Hapus', user,
                            :confirm => 'Yakin nih, penjual ini mau dihapus',
                            :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'tambah user', new_seller_path %>


<%= link_to 'New user', new_user_path %>

