<div id="product-list">
  <h1>Daftar Produk</h1>
  <table cellpadding="5" cellspacing="0">

  <% for product in @products %>
    <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">

       <td>
         <%= image_tag product.image_url, :class => 'list-image' %>
       </td>

       <td>
         <span class ="list-seller"><%=h product.seller %></span>
       </td>

       <td width="60%">
         <span class="list-title"><%=h product.title %></span><br />
         <%=h truncate(product.description.gsub(/<.*?>/,''), 80) %>
       </td>

       <td class="list-actions">
         <%= link_to 'Show', product %><br/>
         
         <% if permitted_to? :edit, @product %>   
           <%= link_to 'Edit', edit_product_path(product) %><br/>
         <%end%>

         <% if permitted_to? :destroy, @product %>         
         <%= link_to 'Destroy', product,
                     :confirm => 'Yakin nih, produk ini dihapus?',
                     :method => :delete %>
         <%end%>
       </td>

    </tr>
  <% end %>
  </table>
</div>
<br />
<%= link_to 'Bikin produk baru', new_product_path %>
