<div class="depot-form">
<fieldset>Silahkan Login
<legend>Login</legend>
    <% form_for @user_session do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :nama %>
        <%= f.text_field :username %>
      </p>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>
      <p><%= f.submit "Submit" %></p>
    <% end %>
</fieldset>
</div>

