<div id="footer">
<div id="bg_menu">
  <ul>




    <% if :admin %>
      <li><%= link_to "About", about_url %></li>
      <li><%= link_to "Help", help_url %></li>
      <li><%= link_to 'Order',   :controller => ''  %></li>
      <li><%= link_to 'Produk', :controller => 'products'%></li>
      <li><%= link_to 'Pedagang',  :controller => 'sellers' %></li>
      <li><%= link_to 'User',  :controller => 'users' %></li>

    <% else %>
      <li><%= link_to "About", about_url %></li>
      <li><%= link_to "Help", help_url %></li>
    <% end %>

  </ul>
</div>
</div>

