<div id="bg_menu">

  <ul>
    <li><%= link_to "Home", root_url %></li>
    <li><%= link_to "Katalog", store_url %></li>
    <li><%= link_to "News", beritas_url %></li>
    <li><%= link_to "Forum", forums_url %></li>
    <li><%= link_to "Wiki Meubel", 'http://localhost/wikimeubel/wikimeubel/show/HomePage' %></li>
    <% if current_user %>
      <li><%= link_to "Edit profil", edit_user_path(:current) %></li>
      <li><%= link_to "Logout", logout_path %></li>
    <% else %>
      <li><%= link_to "Log in", login_path %></li>
      <li><%= link_to "Register", new_user_path %></li>
    <% end %>
  </ul>
</div>

