<div id="bg_menu">

  <ul>
    <li><%= link_to "Home", root_url %></li>
    <li><%= link_to "Katalog", store_url %></li>
    <li><%= link_to "News", beritas_url %></li>
    <li><%= link_to "Forum", forums_url %></li>
    <li><%= link_to "Wiki Meubel", 'http://localhost/wiki/wikimeubel/show/HomePage' %></li>
    <li><%= link_to "Log In", '#' %></li>
  </ul>
</div>

