<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
   <%= javascript_include_tag :defaults %>

  </head>

  <body id="store">
    <div class="container">
        <% tabnav :main do %>
          <div id="columns">
            <div id="side">

             <% if @cart %>
               <% hidden_div_if(@cart.items.empty?, :id => "cart" ) do %>
                 <%= render(:partial => "cart" , :object => @cart) %>
               <% end %>
             <% end %>

            <% if current_user %>
              <br />
              <%= link_to 'Order',   :controller => ''  %><br />
              <%= link_to 'Produk', :controller => 'products' %><br />
              <%= link_to 'User',  :controller => 'users'   %><br />
              <br />
              <%= link_to "Logout", logout_path %><br />
              <%= link_to "Edit profil", edit_user_path(:current) %><br />
            <% else %>
              <br />
              <%= link_to "Log in", login_path %><br />
              <%= link_to "Register", new_user_path %><br />
            <% end %>


            </div>

                <div id="main">

                <% if flash[:notice] -%>
                  <div id="notice"><%= flash[:notice] %></div>
                <% end -%>

                  <%= yield %>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>

